In [1]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    "numbers": [1, 2, 3, 4],
    "text": ["A", "B", "C", "D"]
})
df

   numbers text
0        1    A
1        2    B
2        3    C
3        4    D

In [5]:
df = pd.DataFrame({
    "id": range(1, 6),
    "value": np.random.randint(10, 100, size=5),
    "country": ["Germany", "France", "Italy", "Spain", "Germany"]
})

In [7]:
df["double_value"] = df["value"].apply(lambda x: x * 2)

In [9]:
df["is_germany"] = df["country"].apply(lambda x: x == "Germany")

df

   id  value  country  double_value  is_germany
0   1     93  Germany           186        True
1   2     57   France           114       False
2   3     44    Italy            88       False
3   4     44    Spain            88       False
4   5     55  Germany           110        True

In [11]:
df = pd.DataFrame({
    "numbers": [1, 2, 3, 4, 5],
    "text": ["A", "B", "C", "D", "E"]
})

df["numbers_times10"] = df["numbers"].apply(lambda x: x * 10)

df

   numbers text  numbers_times10
0        1    A               10
1        2    B               20
2        3    C               30
3        4    D               40
4        5    E               50

In [13]:
df = pd.DataFrame({
    "numbers": [1, 2, 3, 4, 5],
    "text": ["A", "B", "C", "D", "E"]
})

df["numbers_times10"] = df["numbers"].apply(lambda x: x * 10)

df["is_A"] = df["text"].apply(lambda x: True if x == "A" else False)

df

   numbers text  numbers_times10   is_A
0        1    A               10   True
1        2    B               20  False
2        3    C               30  False
3        4    D               40  False
4        5    E               50  False